/*�������*/

.line(@e){
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @e;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
/*������ɫ*/
@baseColor:
 #0076a4;
.size(@s){
  font-size: @s;
}